# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/

# Tooling caches
.ruff_cache/
.pytest_cache/
.mypy_cache/
.pyright/

# OS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
